
/* RTL Css */


.rtl {
	direction: rtl;
	text-align: right;
}

.rtl .owl-carousel {
	direction: ltr;
}



.rtl .main-menu .navigation>li>ul {
    left: auto;
    right: 0;
    text-align: right;
}

.rtl .main-menu .navigation>li>ul>li>ul {
    left: auto;
    right: 100%;
    text-align: right;
}

.rtl .main-menu .navigation>li>ul>li>a {
    text-align: right;
}

.rtl .main-menu .navigation>li>ul>li:after {
    right: auto;
    left: 0;
}

.rtl .main-menu .navigation>li>ul>li.dropdown>a:after {
    right: auto;
    left: 0;
}

.rtl .main-menu .navigation>li>ul>li>ul>li>a {
    text-align: right;
}

@media only screen and (max-width:1600px) {

    .rtl .main-menu .navigation>li:nth-last-child(-n+3)>ul>li>ul {
        right: auto;
        left: 100%;
    }
    .rtl .main-menu .navigation > li:nth-last-child(-n+2) > ul {
        right: auto;
        left: 0;
    }
    .rtl .main-menu .navigation > li:nth-last-child(-n+2) > ul > li > ul {
        right: auto;
        left: 100%;
    }   
}

.rtl .banner-section .banner-slider-nav {
    direction: ltr;
}

.rtl .header-upper .navbar-right-info {
    margin-left: 0;
    margin-right: 20px;
}

.rtl .header-upper .navbar-right-info .search-toggler {
    margin-right: 0;
    margin-left: 20px;
}

.rtl .banner-section .content-box form .form-wrapper {
    direction: ltr;
}

.rtl .banner-section .content-box .select-box li {
    margin-right: 0;
    margin-left: 20px;
}

.rtl .about-section ul.list li:before {
    margin-right: 0;
    margin-left: 10px;
}

.rtl .doctor-block .bottom-content ul li+li {
    border-left: 0;
    border-right: 1px solid #ddd;
}

.rtl .doctor-block .text {
    padding-left: 0;
    padding-right: 25px;
}

.rtl .doctor-block .text i {
    left: auto;
    right: 0;
}

.rtl .medical-directory-section .owl-theme .owl-nav {
    right: auto;
    left: -60px;
}

.rtl .testimonial-block {
    direction: rtl;
}

.rtl .testimonial-block .author-info {
    margin-right: 0;
    margin-left: 30px;
}

.rtl .testimonial-block .rating {
    margin-left: auto;
    margin-right: 15px;
}

.rtl .news-block .post-meta-info .author {
    margin-right: 0;
}

.rtl .news-block .post-meta-info .author img {
    margin-right: 0;
    margin-left: 8px;
}

.rtl .newsletter-section .content {
    padding-left: 0;
    padding-right: 100px;
}

.rtl .newsletter-section .content .icon {
    left: auto;
    right: 0;
}

.rtl .widget .widget-title:before {
    left: auto;
    right: 0;
}

.rtl .contact-widget .contact-info li .icon {
    margin-left: 15px;
    margin-right: 0;
}

.rtl .main-footer .about-widget {
    margin-right: 0;
}

.rtl .main-footer .links-widget {
    margin-right: 85px;
    margin-left: -34px;
}

.rtl .main-footer .contact-widget {
    margin-left: 0;
    margin-right: 30px;
}

.rtl .theme-btn span i {
    margin-right: 5px;
    margin-left: 0;
}

.rtl .banner-section .content-box .image {
    right: auto;
    left: -212px;
}

.rtl .banner-section .content-box .image-two {
    right: auto;
    left: 0;
}

.rtl .search-form-two .form-btn {
    text-align: left;
}

.rtl .about-section.style-two .image {
    margin-left: 0;
    margin-right: -25px;
}

.rtl .doctor-block .inner-box {
    direction: rtl;
}

.rtl .testimonial-block-two .author-info {
    padding-left: 0;
    padding-right: 80px;
    margin-right: 0;
}

.rtl .testimonial-block-two .inner-box {
    direction: rtl;
}

.rtl .testimonial-block-two .author-info .thumb {
    right: 0;
    left: auto;
}

.rtl .testimonial-block-two .rating {
    margin-left: 0;
    margin-right: 15px;
}

.rtl .accordion-box .block .icon-outer {
    right: auto;
    left: 0;
}

.rtl .banner-section-two .side-image {
    right: auto;
    left: 0;
    transform: rotateY(180deg);
}

.rtl .funfacts-section .icon-outer {
    margin-right: 0;
    margin-left: 30px;
}

.rtl .funfacts-section .count-box:before {
    right: 0;
}

.rtl .app-download-section .side-image {
    right: auto;
    left: 0;
}

.rtl .app-download-section .theme-btn-two {
    margin-right: 0;
    margin-left: 15px;
}

.rtl .doctors-page.full-width-page .contact-map {
    padding-left: 0;
    padding-right: 115px;
}

.rtl .doctors-page.full-width-page .doctor-page-wrapper {
    margin-right: 0;
    margin-left: -114px;
}

.rtl .search-form-two .select-box li {
    margin-right: 0;
    margin-left: 24px;
}

.rtl .newsletter-form {
    margin-left: 0;
    margin-right: 50px;
}

.rtl .newsletter-form input#subscription-email {
    margin-right: 0;
    margin-left: 10px;
}

.rtl .main-menu .navigation>li {
    margin-right: 0;
    margin-left: 20px;
}

.rtl .main-menu .navigation {
    margin-left: 0;
    margin-right: 50px;
}

.rtl .service-block-two .shape {
    left: auto;
    right: 0;
}

.rtl .service-block-two .shape:before {
    right: auto;
    left: 0;
}

.rtl .service-block-two .inner-box .shape-two {
    right: auto;
    left: 0;
}

.rtl .service-block-two .icon {
    left: auto;
    right: 50px;
}

.rtl .service-block-two .inner-box {
    padding-left: 0;
    padding-right: 190px;
}

.rtl .service-block-two .link-icon a {
    right: auto;
    left: 55px;
}

.rtl .service-block-two .inner-box .shape-two svg {
    right: auto;
    left: -30px;
    transform: rotateY(180deg);
}

.rtl .widget_search input[type="search"] {
    padding-right: 30px;
    padding-left: 65px;
}

.rtl .widget_search button {
    right: auto;
    left: 30px;
}

.rtl .categories-list li a:after {
    left: auto;
    right: 0;
}

.rtl .categories-list li a {
    padding-left: 0;
    padding-right: 30px;
}

.rtl .leave-comments form .form-group .icon {
    right: auto;
    left: 50px;
}

.rtl .comments-area .comment-box .reply-btn {
    right: auto;
    left: 0;
}

.rtl .comments-area .comment {
    padding-left: 0;
    padding-right: 105px;
}

.rtl .comments-area .comment-box .author-thumb {
    left: auto;
    right: 0;
}

.rtl .widget_popular_post .post-thumb {
    margin-right: 0;
    margin-left: 20px;
}

.rtl .widget_popular_post .content .post-info i {
    margin-right: 0;
    margin-left: 7px;
}

.rtl .blog-single-post .post-share-info .tag {
    margin-right: 0;
    margin-left: 30px;
}

.rtl .blog-single-post .post-share-info .tag span {
    margin-right: 0;
    margin-left: 10px;
}

.rtl .blog-single-post .post-share-info .tag span i {
    margin-right: 0;
    margin-left: 7px;
}

.rtl .blog-single-post blockquote {
    padding-left: 0;
    padding-right: 100px;
}

.rtl .blog-single-post blockquote .quote {
    left: auto;
    right: 0;
}

.rtl .blog-single-post blockquote:before {
    left: auto;
    right: 65px;
}




